@import-normalize;

body {
  /* This should be in reset styles, right? */
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  user-select: none;
}

button:focus {
  outline: 1px solid #fff;
}

button:active {
  transform: scale(0.99);
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.AppContainer {
  padding: 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.NavigationSection {
  display: flex;
  margin-bottom: 1em;
}

.NavigationButton {
  width: 100%;
  background-color: transparent;
  color: initial;
  padding: 0.5em 1em;
}

.NavigationButtonActive {
  color: #9900ff;
}

.NavigationItem {
  flex: 1;
}

.ContentSection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.CounterSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25%;
}

.CounterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.CounterTime {
  display: flex;
  align-items: baseline;
}

.CounterDigits {
  font-size: 5em;
  font-weight: normal;
}

.CounterUnits {
  font-size: 2em;
  font-weight: normal;
}

.IntegerDigits {
  margin: 0;
  font-size: 4em;
  font-weight: 500;
}

.FractionDigits {
  margin: 0;
  font-size: 2em;
}

.CyclesSection {
  flex: 1;
  padding: 0 1em;
}

.ActionSection {
  flex: 0 1 auto;
  display: flex;
  align-items: baseline;
}

.ActionSection > button {
  margin-right: 0.5em;
}

.ActionSection > button:last-child {
  margin-right: 0;
}

.CycleContainer {
  display: grid;
  grid-template-columns: 1fr 1fr auto auto;
  row-gap: 1em;
}

.CycleHeader {
  font-weight: bold;
}

.MeasureDigits {
  font-size: 1.5em;
}

.ActionButton {
  background-color: #9900ff;
  font-size: 1em;
  padding: 1em;
  flex: 1;
}

.ActionButton:disabled {
  background-color: gray;
}

.Counter {
  font-size: 4em;
  font-weight: bold;
}

.Separator {
  margin-block-start: 1em;
  margin-block-end: 1em;
  border-color: black;
}

.Scrollable {
  overflow-y: auto;
  max-height: 9rem;
}

.ButtonIcon {
  font-size: 1em;
  padding: 0 0 0.5em 1em;
  color: black;
  background-color: transparent;
}

.StatsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.StatsItem {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MeasureTitle {
  font-size: 1em;
  font-weight: lighter;
}

.MeasureTime {
  display: flex;
  align-items: baseline;
  font-size: 1.5em;
}
